<div id="container">

<h4>What is 'Inventory Management'</h4>
<p>Inventory management is the practice overseeing and controlling of the ordering, storage and use of components that a company uses in the production of the items it sells. Inventory management is also the practice of overseeing and controlling of quantities of finished products for sale. A business's inventory is one of its major assets and represents an investment that is tied up until the item sells.

</p>

<h4>Purpose</h4>
<p>Inventory proportionality is the goal of demand-driven inventory management. The primary optimal outcome is to have the same number of days' (or hours', etc.) worth of inventory on hand across all products so that the time of runout of all products would be simultaneous. In such a case, there is no "excess inventory," that is, inventory that would be left over of another product when the first product runs out. Excess inventory is sub-optimal because the money spent to obtain it could have been utilized better elsewhere, i.e. to the product that just ran out.

  The secondary goal of inventory proportionality is inventory minimization. By integrating accurate demand forecasting with inventory management, rather than only looking at past averages, a much more accurate and optimal outcome is expected.

  Integrating demand forecasting into inventory management in this way also allows for the prediction of the "can fit" point when inventory storage is limited on a per-product basis.</p>




</div>
